@import "color.css";

* {
  border: none;
  border-radius: 0;
  font-family: "sans", "sans-serif", "monospace", "Symbols Nerd Font";
  font-size: 15px;
  min-height: 0;
  margin-left: 2px;
  margin-right: 2px;
}

window#waybar {
  border-radius: 0px;
  background: @bg;
  color: @fg;
}

tooltip {
  background: @bg;
  border-radius: 0px;
}

#workspaces button {
  padding: 0px;
  margin-left: 2px;
  margin-right: 2px;
  color: @bg2;
  background: transparent;
}

#workspaces button.focused {
  background: transparent;
  color: @fg;
}

#workspaces button.urgent {
  color: @red;
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
  color: @gray;
  box-shadow: inherit;
  text-shadow: inherit;
}

#window {
  padding: 0px;
}

#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#backlight {
  padding: 1px 4px;
}
